

<ng-template #formTpl>
<form #f="ngForm" id="auth" class="form-inline bg-info p-2">
  <input required minlength="4" ngModel="admin@localhost" name="username" type="text" class="form-control" placeholder="login">
  <input required  ngModel="admin" name="password" type="text" class="form-control" placeholder="password">
  <button class="btn btn-primary" (click)="logIn(f)">log in</button>
</form>
</ng-template>
  <button *ngIf="authService.access; else formTpl" class=" btn btn-warning" (click)="logout()">logout</button>
